h2{
	margin-left:20px;
	color:	#A0A0A0 ;
}
div{
	width:300px;
	margin-left:450px;
	margin-top: 300px;
	padding:20px;	
	border-style:solid;
	border-width: 1px;
	border-radius: 5px;
	border-color:#C8C8C8 ;
}
p{
	margin-left:45px;
}
a:link{ 
	color:#52A3CC;
	text-align:center;
	text-decoration:none;
	font-weight: bold;
}
a:hover{ 
	color:#33CCFF;
	text-align:center;
	text-decoration:none;
	font-weight: bold;
}